 <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title> </title>

<!-- Bootstrap -->
<link rel="stylesheet" href="css/bootstrap.css">

<!-- JQUERY  -->
<script src="js/jquery.js"></script> 

<script src="js/bootstrap.js"></script>
<!---bootstrap casa ---->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!---CSS CAJAS DE NOTICIAS --->
<style type="text/css">
  .Fondo{
background: rgba(79, 79, 79,0.6);
padding:20px;
}
 .row{
  padding: :15px;
}
</style>

</head>
<body>


<header>

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Se parte de nuestro equipo</h1>
            <p class="text-center">Construyamos juntos un mejor país</p>
            <p>&nbsp;</p>
            <p class="text-center"><a class="btn btn-primary btn-lg" href="Encuesta.html" role="button">Quiero Aprender mas ! </a> </p>
        </div>
      </div>
    </div>
  </div>
</header>



 
<!-- VIDEOS --->


<div class="row">
    <script type="text/javascript">
      $('#modal1').on('hidden.bs.modal', function (e) {
  // do something...
  $('#modal1 iframe').attr("src", $("#modal1 iframe").attr("src"));
});

$('#modal6').on('hidden.bs.modal', function (e) {
  // do something...
  $('#modal6 iframe').attr("src", $("#modal6 iframe").attr("src"));
});

$('#modal4').on('hidden.bs.modal', function (e) {
  // do something...
  $('#modal4 iframe').attr("src", $("#modal4 iframe").attr("src"));
});
    </script>

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-4">

        <!--Modal: Name-->
        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">

                <!--Content-->
                <div class="modal-content">

                    <!--Body-->
                    <div class="modal-body mb-0 p-0">

                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NUu0wqfYCag" allowfullscreen></iframe>
                        </div>

                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                     
         

                        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Cerrar</button>

                    </div>

                </div>
                <!--/.Content-->

            </div>
        </div>
           
         <!--VIDEO 1 ---> 
         <!--IMAGEN 1 ---> 
        <a><img class="img-fluid z-depth-1" src="http://antesdeeva.com/wp-content/uploads/2016/11/alto-violencia-contra-las-mujeres.jpg" alt="video" data-toggle="modal" data-target="#modal1"></a>

    </div>
    
    <div class="col-lg-4 col-md-6 mb-4">

        <!--Modal: Name-->
        <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">

                <!--Content-->
                <div class="modal-content">

                    <!--Body-->
                    <div class="modal-body mb-0 p-0">
                        <!--video 1--->
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VIsdhgIgl2I" allowfullscreen></iframe>
                        </div>

                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        

                        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Cerrar</button>

                    </div>

                </div>
                <!--/.Content-->

            </div>
        </div>
               <!--VIDEO  2--->
        <!--imagen 2--->

        <a><img class="img-fluid z-depth-1" src="https://static.iris.net.co/semana/upload/images/2016/12/6/508408_1.jpg" alt="video" data-toggle="modal" data-target="#modal6"></a>

    </div>
   
    <div class="col-lg-4 col-md-6 mb-4">

  
        <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">

                <!--Content-->
                <div class="modal-content">

                  
                    <div class="modal-body mb-0 p-0">
                            <!--video 2-->
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nFUBZXXjr3A" allowfullscreen></iframe>
                        </div>

                    </div>

                    
                    <div class="modal-footer justify-content-center">
                     

                        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Cerrar</button>

                    </div>

                </div>
                <!--/.Content-->

            </div>
        </div>
        <!--IMAGEN 3-->
           <!--IMAGEN 2 REPITE VIDEO 2-->

        <a><img class="img-fluid z-depth-1" src="https://impresa.prensa.com/panorama/Maltrato-mujer-impune_LPRIMA20170717_0159_1.png" alt="video" data-toggle="modal" data-target="#modal4"></a>

    </div>
    

</div>




<section>
    <div class="row">
      <div class="col-lg-12 page-header text-center">
        <div align="center">
   
        </div>

        <!---TESTIMINIOS ------->
        <h2 id ="Testimonios">TESTIMONIOS</h2>
      </div>
    </div>

      <div class="row">

          <div class="col-6 col-lg-6">
              <blockquote>
                <p>Alejandro fue agredido por sus compañeros de escuela, lo empujaban, lo escupían y le pintaban su camisa. Las autoridades escolares no supieron contenerlo ni a él ni a su madre. Abandonó la escuela. Adriana con sólo nueve años debió soportar duros insultos también en Facebook. Ambos son típicos casos de "bullying".  </p>
                <small> Violencia psicoligica <cite title="Source Title">Alejandro Rodriguez </cite>
                </small>
              </blockquote>
          </div>

          <div class="col-6 col-lg-6">
              <blockquote>
                <p> Cuando me pegan cierro los ojos y el dolor se va,mi hermana pequeña duerme con un palo en la cama porque tiene miedo de que aparezca mi padre en cualquier momento</p>
                <small>Violencia intrafamiliar <cite title="Source Title">Anonimo </cite>
                </small> 
              </blockquote>
          </div>

              <div class="col-6 col-lg-6">
                <blockquote>
                  <p>A Marcos todavía le cuesta entender lo que le tocó vivir. La violencia física y psicológica que ejercía su abuela sobre él, la indiferencia de su madre, la inexistencia de un padre, generaron una falta de contención que lo empujó a la calle. "Ahí, la cosa cambia de color y tenés que elegir".</p>
                  <small>Violencia intrafamiliar  <cite title="Source Title">Marcos </cite>
                  </small> 
                </blockquote>
              </div>

            <div class="col-6 col-lg-6">
              <blockquote>
                  <p>Lola pidió a su padre a gritos que la matase. Ese día, él, "un ser estricto, con mucho genio y la mano muy larga", dejó de pegarle. Pero tuvieron que pasar muchos más, hasta la muerte de su progenitor </p>
                  <small>Violenica Intrafamiliar y violacion  <cite title="Source Title">"Lola" nombre falso </cite>
                  </small> 
              </blockquote>
            </div>
      </div>
    
  </div>

  <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-lg-9">
                  <p class="lead">Se un heroe igual que ellos, que tu experiencia sea la ayuda y superacion para muchos, ingresa y damos tu informacion y da tu testimonio anomino o con tu nombre  </p>
                </div>
                <div class=" text-center col-sm-6 col-lg-3 col-sm-offset-3 col-md-3 col-xs-offset-4 col-xs-5 col-lg-offset-0"> 
                  <a class="btn  btn-block btn-lg btn-success" href="Nueva_info.html" title="">Ingresa Ya!!</a> 
                </div>
            </div>
        </div>
  </div>
  
  
  <!-- ENLACES DE INTERES --->

  <div class="container">
    <div class="row">
        <div class="col-xs-6- col-lg-4 page-header text-center">
          <h2   id="Info">ENLACES DE INTERES </h2>
        </div>
    </div>
    <table class="table table-hover">
    <div class="row">
            <div class="col-xs-6 col-lg-4" class="Fondo">
             
                  <h2>¿como superar la violacion infantil?</h2>
                  <p> <i class="icon-desktop "></i>El abuso sexual resulta un golpe emocional extremadamente elevado para la persona que lo padece,Origina daños en el amor propio....</p>

                  <p><a class="btn btn-default" href="https://www.lifeder.com/como-superar-una-violacion/" target="_blank">continuar leyendo  »</a></p>
                  

              </div>
              <div class="" lass="col-xs-6 col-lg-4" class="Fondo">
                   <!---  
                    <p> <i class="icon-desktop "></i> Las experiencias de maltrato,
                     falta de afecto o abandono durante la infancia, tienen efectos por el resto de la vida.... </p>
                    <p><a class="btn btn-default" href="https://lamenteesmaravillosa.com/superar-una-infancia-dificil-1/">continuar leyendo  »</a></p>--->
              </div>

              <div class="col-xs-6 col-lg-4" class="Fondo">
                  <h3>"Mi papá me violó 3.000 veces"</h3>
                  <p> <i class="icon-desktop "></i> Elisabeth Fritzl se hizo célebre cuando se descubrió que su papá la había mantenido encerrada en el sótano de su residencia en Amstetten, Austria, durante 24 años..
                  </p>
                  <p><a class="btn btn-default" href="https://www.semana.com/gente/recuadro/mi-papa-violo-3000-veces/132306-3" target="_blank">Continuar leyendo »</a></p>
              </div>
              <div class="col-xs-6 col-lg-4" class="Fondo">
                    <h3>¿Qué debo hacer si yo o una persona que conozco fue víctima de agresión sexual?</h3>
                    <p> <em class="icon-desktop "></em> Si tú o alguien que tú conoces sufrió una agresión sexual, no estás solo. Existen recursos que pueden ayudar a que se sientan mejor y a ofrecer apoyo tanto a los sobrevivientes como a las personas cercanas a ellos....</p>
                    <p><a class="btn btn-default" href="https://www.plannedparenthood.org/es/temas-de-salud/el-sexo-y-las-relaciones/consentimiento-sexual/que-debo-hacer-si-yo-o-una-persona-que-conozco-fue-victima-de-ag" target="_blank">continuar leyendo  »</a></p>
              </div>
              <div class="col-xs-6 col-lg-4" class="Fondo" >
                  <h3>“Casos de violencia intrafamiliar se deben juzgar con perspectiva de género”: Corte Suprema de Justicia</h3>
                  <p> <i class="icon-desktop "></i>Una mujer acude a una comisaría de familia para denunciar que ella y sus dos hijos fueron maltrados por parte de su expareja y padre de ambos menores.</p>
                  <p><a class="btn btn-default" href="http://https://www.elespectador.com/noticias/nacional/casos-de-violencia-intrafamiliar-se-deben-juzgar-con-perspectiva-de-genero-corte-suprema-de-justicia-articulo-741640" target="_blank">Continuar Leyendo »</a></p>
              </div>
              <div class="col-xs-6 col-lg-4" class="Fondo">
                  <h3>¿Qué debo hacer si mi esposo me maltrata?</h3>
                  <p> <i class="icon-desktop "></i> El maltrato o la violencia intrafamiliar es cada vez más frecuente y ya ha cobrado muchas victimas en nuestros países...</p>
                  <p><a class="btn btn-default" href="http://https://www.coalicionporelevangelio.org/articulo/que-debo-hacer-si-mi-esposo-me-maltrata/" target="_blank">Continuar Leyendo »</a></p>
              </div>
          </div>
  </div>
  <!-- / CONTAINER--> 
</section>

<div class="well">
 </div>

<!-- FOOTER -->
<div class="container">
    <div class="row">
        <div class="col-lg-offset-3 col-xs-12 col-lg-6">
              <div class="jumbotron">
                  <div class="row text-center">
                    <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <h2>Contactanos </h2>
                    </div>
                        <div class="text-center col-lg-12"> 
                          <!-- CONTACT FORM https://github.com/jonmbake/bootstrap3-contact-form -->
                          <form role="form" id="feedbackForm" class="text-center">
                            <div class="form-group">
                              <label for="name">Nombre </label>
                              <input type="text" class="form-control" id="name" name="name" placeholder="Mi nombre es chichico">
                              <span class="help-block" style="display: none;">Mi nombre es chichico</span></div>
                            <div class="form-group">
                              <label for="email">Correo </label>
                              <input type="email" class="form-control" id="email" name="email" placeholder="chichico@gmail.com.">
                              <span class="help-block" style="display: none;">chichico@gmail.com.</span></div>
                            <div class="form-group">
                              <label for="message">Mesaje</label>
                              <textarea rows="10" cols="100" class="form-control" id="message" name="message" placeholder="tu mensaje va aqui."></textarea>
                              <span class="help-block" style="display: none;">tu mensaje va aqui.</span></div>
                       <!--<span class="help-block" style="display: none;">Please enter a the security code.</span>--->
                       <!--TOCA MIRAR COMO HAGO PARA ENVIAR LA INFORMACION A LA BD ---->
                            <button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg" style=" margin-top: 10px;">ENVIAR </button>
                          </form>
                          <!-- END CONTACT FORM --> 
                        </div>
                  </div>
              </div>
        </div>
    </div>
</div>
<footer class="text-center">
    <div class="container">
        <div class="row">
          <div class="col-xs-12">
              <p>ESTE ES EL FOOTER </p>
          </div>
        </div>
    </div>
</footer>
<!-- / FOOTER --> 



</html>
